apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: ijpq
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: ijpq
    app.kubernetes.io/part-of: byoc-app-bkyz
  name: ijpq
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: ijpq
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: ijpq
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-xszc-tenant/byoc-app-bkyz/ijpq@sha256:df6a958a5cde1c8e1795d45027f23d1a8b09abde7c5742de358ceb597b3b724b
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
