apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: ijpq
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - env:
        - name: POC
          value: POC
        image: quay.io/redhat-appstudio-qe/byoc-xszc-tenant/byoc-app-bkyz/ijpq@sha256:df6a958a5cde1c8e1795d45027f23d1a8b09abde7c5742de358ceb597b3b724b
        name: my-java-quarkus
        resources: {}
status: {}
